div.left {
    float: left;
    width: 50%;
}
div.right {
    float: right;
    width: 50%;
}

span.dockerFileKeyword {
    color: #ffafa9;
}

div.vm-container-div {
    vertical-align: bottom;
    display: table-cell;
}

.vm-container-img {
    width: 40%;
    height: 40%;
}

div.left img, div.right img, section img.noborder {
    border: none;
}